
h1{ margin: auto;
    color:rgb(12, 12, 14);
    background: rgb(124, 199, 27);
    width: 30%;
    height: 30%;
    text-align: center;
    border: 1px solid brown;}

header{ margin:auto;
        text-align:center}
div header { margin: auto;}